<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.xujichang.xfilemanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="me.xujichang.xfilemanager.FileManagerMainActivity" />
        <activity android:name="me.xujichang.xfilemanager.FileManagerDocumentActivity" />
        <activity android:name="me.xujichang.xfilemanager.FileManagerPictureActivity" />
        <activity android:name="me.xujichang.xfilemanager.FileManagerVideoActivity" />
    </application>

</manifest>
